<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

# Si el archivo o directorio existe, usa el archivo/directory

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirige todas las rutas a index.html

RewriteRule ^ index.html [L]
</IfModule>
